<% layout('/layouts/boilerplate') %>
<body>
    <div class="alert alert-primary mt-3" role="alert">
        <h3>Error <%=status%></h3>
        <h3>Message <%=message%></h3>
        
        
    </div>
    <img src="/Assets/CommonError.jpg" alt="Image" height="30%" width="50%">
</body>  